<div class="table-container" overlay-scrollbars>
  <table mat-table [dataSource]="clients" class="mat-elevation-z8">

    // ЧЕКБОКСЫ
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox class="checkbox"
                      (change)="masterToggle(); onSelectionChange()"
                      [checked]="isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null; onSelectionChange()"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    // ИМЯ
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Имя</th>
      <td mat-cell *matCellDef="let client"><span class="client-data" (click)="editClient(client)">{{ client.name }}</span></td>
    </ng-container>

    // ФАМИЛИЯ
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>Фамилия</th>
      <td mat-cell *matCellDef="let client"><span class="client-data" (click)="editClient(client)">{{ client.surname }}</span></td>
    </ng-container>

    // ИМЕЙЛ
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let client"><span class="client-data" (click)="editClient(client)">{{ client.email }}</span></td>
    </ng-container>

    // ТЕЛЕФОН
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Телефон</th>
      <td mat-cell *matCellDef="let client"><span class="client-data" (click)="editClient(client)">{{ client.phone }}</span></td>
    </ng-container>

    // СПЕЙСЕР (ЗАПОЛНЕНИЕ)
    <ng-container matColumnDef="spacer">
      <th mat-header-cell *matHeaderCellDef class="spacer-column"></th>
      <td mat-cell *matCellDef="let client" class="spacer-column"></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'line-checked': selection.isSelected(row)}">
    </tr>
  </table>
</div>
