<main class="clients">
  <h1>Клиенты</h1>
  <section class="clients-table-section">
    <header class="clients-table-header">
      <div class="clients-table-actions">
        <app-svg-button type="add" (buttonClick)="modalHandler('add')"></app-svg-button>
        <app-svg-button type="remove" [disabled]="!hasSelection" (buttonClick)="modalHandler('remove')"></app-svg-button>
      </div>
    </header>
    <div class="clients-table">
      <app-clients-table
        [clients]="clients"
        [clearTableSelection]="clearTableSelection"
        (selectionChanged)="onSelectionChanged($event)"
        (onEditClient)="modalHandler('edit', $event)">
      </app-clients-table>
    </div>
  </section>
</main>

@if (modalShown) {
  <app-modal
    [title]="modalTitle"
    [client]="selectedClient"
    [selectedClientsCount]="selectedClients.length"
    (submitClient)="handleFormSubmit($event)"
    (deleteClients)="handleDeleteClients()"
    (close)="modalShown = false">
  </app-modal>
}
