<main class="clients">
  <h1>Клиенты</h1>
  <section class="clients-table-section">
    <header class="clients-table-header">
      <div class="clients-table-actions">
        <app-svg-button type="add" (buttonClick)="onButtonClick('add')"></app-svg-button>
        <app-svg-button type="remove" [disabled]="!hasSelection" (buttonClick)="onButtonClick('remove')"></app-svg-button>
      </div>
    </header>
    <div class="clients-table">
      <app-clients-table [clients]="clients" (selectionChanged)="hasSelection = $event" (selectedUser)="onButtonClick('edit')"></app-clients-table>
    </div>
  </section>
</main>

@if (modalShown) {
  <app-modal [title]="modalTitle" (close)="modalShown = false"></app-modal>
}
