// Основные цвета
$background-color: #E9F3FF;
$heading-color: #2F7FD5;
$table-heading-text-color: #2F4C97;
$text-color: #263238;

// Кнопки
$delete-default-color: #2F67D5;
$delete-hover-color: #3C7CF8;
$delete-pressed-color: #194EB6;
$delete-disabled-color: #D8DEE9;

$cancel-default-color: transparent;
$cancel-hover-color: #3C7CF81A;
$cancel-pressed-color: #194EB633;

// Инпуты
$input-default-border-color: #BBC5C9;
$input-active-border-color: #2F7FD5;
$input-filled-border-color: #505662;
$input-error-border-color: #DA1B1B;
